<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Global Backups</title>
  </head>
  <body>
    <% if (flash.length) { %>
    <div class="notifications">
      <% flash.forEach(function(message) { %>
      <div class="notification">
        <h4>Notification</h4>
        <p><%= message %></p>
        <span class="x" onclick="this.parentElement.remove()">×</span>
      </div>
      <% }) %>
    </div>
    <% } %>
